.container {
    background-color: rgba(152, 158, 157, 0.438);
    margin-left: 200px;
    margin-right: 200px;
}

.heading {
    margin-left: 200px;
    margin-top: 100px;
}

.booking {
    margin-left: 100px;
    margin-right: 50px;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 20px;
} 